LARK_CLI_MCP_BASE_URL=https://lark.example.com
LARK_CLI_MCP_GITHUB_CLIENT_ID=
LARK_CLI_MCP_GITHUB_CLIENT_SECRET=
LARK_CLI_MCP_GITHUB_USERS=
LARK_CLI_MCP_JWT_SIGNING_KEY=
LARK_CLI_MCP_STORAGE_KEY=
LARK_CLI_MCP_REDIS_PASSWORD=
LARK_CLI_MCP_UPDATE_CHECK=1
